@import
  'abstracts/variables.scss';

.k-code-editor-input {
    background: light-dark(var(--color-gray-950), var(--input-color-back));
    color: var(--color-gray-200);
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    line-height: 1.5;
    padding: var(--spacing-2);
    border-radius: var(--rounded);

    &[data-size="small"] {
        min-height: 7.5rem;
    }
    &[data-size="medium"] {
        min-height: 15rem;
    }
    &[data-size="large"] {
        min-height: 30rem;
    }
    &[data-size="huge"] {
        min-height: 30rem;
    }
}

.prism-editor__textarea:focus {
    outline: none;
}
